/* ==========================================================================
   COMPONENTS - ABOUT
   ========================================================================== */

.l-about {
	li {
		grid(1);

			+bp('15') {
				grid(2);
			}
	}
}
