/* ==========================================================================
   COMPONENTS - EXPERIENCE
   ========================================================================== */

.l-experience {
  grid(1);

    +bp('20') {
      grid(2);
    }

}
