/* ==========================================================================
   COMPONENTS - EXPERIENCE
   ========================================================================== */

.l-experience {
  grid(1);

    +bp('10') {
      grid(2);
    }

}
