/* ==========================================================================
   COMPONENTS - MAIN
   ========================================================================== */

.c-main {

  +bp('20') {
    margin-left: rem(320px);
    height: 800px;
  }

}
