/* ==========================================================================
   COMPONENTS - FOOTER
   ========================================================================== */

.c-site-footer {
  padding: rem(6px) 0;
  text-align: center;

    +bp('20') {
      text-align: right;
    }
}
