/* ==========================================================================
   COMPONENTS - SKILLS
   ========================================================================== */

.l-skills {
  grid(1);

    +bp('10') {
      grid(2);
    }

}
