---
title: Needs updating
desc: Needs updating
---

{% extends "default.html" %}

{% block content %}

  <div class="o-wrap">

    {% include "about.nunjucks" %}

    <div class="c-section">
      
      <div class="o-grid">

          <div class="l-experience">
            {% include "experience.nunjucks" %}
          </div>

          <div class="l-skills">
            {% include "skills.nunjucks" %}
          </div>

      </div>

    </div>

    {% include "quotes.nunjucks" %}

  </div>

{% endblock %}
