/* ==========================================================================
   GENERIC - ICONS
   ========================================================================== */

 .icon {
 	display: inline-block;
 	width: 1em;
 	height: 1em;
 	fill: currentColor;
 }

/*
<svg class="icon icon-blog"><use xlink:href="#icon-blog"></use></svg>
<svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
<svg class="icon icon-linkedin"><use xlink:href="#icon-linkedin"></use></svg>
<svg class="icon icon-circle-right"><use xlink:href="#icon-circle-right"></use></svg>
<svg class="icon icon-calendar"><use xlink:href="#icon-calendar"></use></svg>
*/
