/* ==========================================================================
   COMPONENTS - IMPORTS
   ========================================================================== */

// component extends
$pseudos {
  display: block;
  content: '';
  position: absolute;
}

@import "logo";
@import "tag-line";
@import "links";
@import "contact";
@import "status-link";
@import "status";
@import "copyright";
