/* ==========================================================================
   COMPONENTS - CONTACT
   ========================================================================== */

@keyframes email {
 0% 		{ transform: translateX(-80px) }
 100% 	{ opacity: 1; transform: translateX(0); }
}
@keyframes mob {
 0% 		{ transform: translateX(80px) }
 100% 	{ opacity: 1; transform: translateX(0); }
}

.c-contact {

    a {
      color: lighten(colours.main.links,42);
    }
    
    &__item {

      +bp('20', max) {

        &--email, &--mob {
          opacity: 0;
        }

        &--email {
          animation: email 1200ms 2000ms ease-in forwards;
        }
        &--mob {
          animation: mob 1200ms 2000ms ease-in forwards;
        }

      }

    }
}
