/* ==========================================================================
   COMPONENTS - CURRENT
   ========================================================================== */

.c-current {
  padding: rem(2px) rem(6px);
  background: darken(colours.brand.a,55);
  color: white;
  border-radius: 6px;
  opacity: 0.5;
}
