/* ==========================================================================
   COMPONENTS - DATE
   ========================================================================== */

.c-date {
  font-style: italic;
}
