/* ==========================================================================
   COMPONENTS - SECTION
   ========================================================================== */

.c-section {
  padding-top: base-spacing;
  border-bottom: 1px solid colours.main.borders;

    &__title, &__sub-title {
      text-transform: uppercase;
    }

    &__sub-title {
      font-size: rem(12px);
    }

}
