/* ==========================================================================
   COMPONENTS - STATUS
   ========================================================================== */

.c-status {
  dl-inline(50%, 50%);
  color: lighten(colours.main.text,25);

    +bp('20', max) {
      background: lighten(colours.brand.b,5);

        dt.c-status__close, dd.c-status__close {
          float: none;
          width: 100%;
          clear: both;
          text-align: center;
        }
        &__btn {
          background: none;
          border: none;
        }

        &__icon {
          font-size: rem(38px);
        }
    }

    dt, dd {
      padding: rem(10px) rem(6px);
    }

    dt:nth-of-type(1), dd:nth-of-type(1) {
      background: darken(colours.brand.b,2);
    }
    dt:nth-of-type(2), dd:nth-of-type(2) {
      background: darken(colours.brand.b,4);
    }
    dt:nth-of-type(3), dd:nth-of-type(3) {
      background: darken(colours.brand.b,6);
    }
    dt:nth-of-type(4), dd:nth-of-type(4) {
      background: darken(colours.brand.b,8);
    }

      +bp('20') {
        dt, dd {
          padding: rem(12px);
        }

        &__close {
          display: none;
        }
      }

}
