/* ==========================================================================
   COMPONENTS - TAG-LINE
   ========================================================================== */

@keyframes tagline {
  0% 		{ transform: translateX(-80px) }
  100% 	{ opacity: 1; transform: translateX(0); }
}

.c-tagline {
  font-style: italic;

    +bp('20', max) {
      opacity: 0;
      animation: tagline 1600ms 400ms ease-in forwards;
    }
}
