/* ==========================================================================
   SETTINGS - HASHES - COLOURS
   ========================================================================== */

colours = {

	main: {
		bg 									: #f7f7f7,
		text 			 					: #707070,
		links 							: #D9FBAE,
		borders 						: #efefef
	},

	brand: {
		a 									: #D8FBAE,
		b 									: #3A3A3A
	},

	alerts: {
		info 								: #d9edf7,
		warn 								: #efac4d,
		error 							: #dd3522,
		success 						: #5cb75c
	},

	social: {
		facebook            : #3b5897,
		twitter             : #00aceb,
		google              : #de4e3b,
		instagram           : #517fa4,
		youtube             : #bd0000
	},

	tech: {
		html                : #fca140,
		css                 : #2489ae,
		js                  : #fac552,
		misc                : #737373
	}

}
