/* ==========================================================================
   SETTINGS - HASHES - IMPORTS
   ========================================================================== */

imports = {

  base: {
    blockquotes				    : false,
    embedded 					    : false,
    headings 					    : false,
    inputs 						    : false,
    labels 						    : false,
    links  						    : false,
    lists 			 				  : false,
    paragraphs 				    : false,
    tables 						    : false,
    buttons 					    : true,
  },

  objects: {
    wrapper               : false,
    media                 : false
  },

  layout: {
    grid-silent 			    : false,
    grid-classes 		      : false,
  },

  navigation: {
    nav-site 				      : false,
  }

  utilities: {
    colours 		          : false,
    visibility 	          : false,
    widths     	          : false
  }

}
