/* ==========================================================================
   BASE - ROOT
   ========================================================================== */

html {
  font-family 			 						: font-family;
  font-size 				 						: 100%;
  line-height 			  					: unit((line-height / font-size), '');
  background                		: colours.main.bg;
  color                     		: colours.main.text;
  box-sizing 										: border-box;
  -ms-text-size-adjust 					: 100%;
	-webkit-text-size-adjust 			: 100%;
	-webkit-font-smoothing 				: antialiased;
	-moz-osx-font-smoothing 			: grayscale;
	-webkit-tap-highlight-color 	: transparent;

  for item in breakpoints {
    +bp(item) {
      &:before {
        content: 'bp' + item;
        display: none;
      }
    }
  }

}

*, *:before, *:after {
  box-sizing: inherit
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: rem(1100px);
  margin: 0 auto;
  background: white;

    +bp('30') {
      margin: base-spacing * 2 auto base-spacing * 2 auto;
      border: 1px solid colours.main.borders;
      border-radius: 6px;
    }
}
