/* ==========================================================================
   TOOLS - MIXINS - DL-INLINE
   ========================================================================== */

dl-inline(dtWidth, ddWidth) {
	margin-bottom: 0;
	clearfix();

		dt, dd {
			float: left;
		}
		dt {
			width: dtWidth
			text-align: left;
		}
		dd {
			width: ddWidth;
			text-align: right;
		}
}

/*
--usage
--dl-inline(dtWidth, ddWidth);
--e.g. dl-inline(50%, 50%);
*/
