if imports.objects.wrapper {

/* ==========================================================================
   OBJECTS - WRAPPER
   ========================================================================== */

	.o-wrap  {
		padding: 0 rem(12px);

			+bp('20') {
				padding: 0 rem(24px);
			}
	}

} // END IF
